dist: xenial
language: go

go:
  - 1.14.7

env:
  global:
    - ARCH=$(go env GOARCH)
    - TAG="ci"

sudo: required

services:
  - docker

jobs:
  include:
    - os: linux
      arch: amd64

addons:
  apt:
    update: true

install:
  - make bootstrap
  - if [ "$TRAVIS_BUILD_DIR" != "$GOPATH/src/github.com/openebs/node-disk-manager" ]; then
      mkdir -p $GOPATH/src/github.com/openebs/;
      mv $TRAVIS_BUILD_DIR $GOPATH/src/github.com/openebs;
      cd $GOPATH/src/github.com/openebs/node-disk-manager;
    fi
  - make install-dep
  - make install-test-infra

before_script:
  - if [ "$TRAVIS_CPU_ARCH" == "amd64" ]; then
      sudo minikube start --vm-driver=none;
      sudo minikube update-context;
      sudo chown -R $USER $HOME/.minikube;
      sudo chown -R $USER $HOME/.kube;
      make shellcheck;
    fi
  - export RELEASE_TAG="$TRAVIS_TAG"
  - export BRANCH="$TRAVIS_BRANCH"

script:
  - make
  # Here sudo -E env "PATH=$PATH" make test is required for running tests with
  # sudo permissions since we are making use of scsi device mockdata in smartprobe_test
  # which could be fetched for a SCSI device with sudo permissions only since to access
  # a particular scsi device, sudo or root permissions are required.
  - sudo -E env "PATH=$PATH" make test
  - sudo -E env "PATH=$PATH" make integration-test

after_success:
  - make push

notifications:
  email:
    recipients:
      - akhil.mohan@mayadata.io
      - kiran.mova@mayadata.io
