language: go

go:
  - 1.9.2

env:
  global:
   - ARCH=$(go env GOARCH)
   - TAG=$(git describe --tags --always)
   - CHANGE_MINIKUBE_NONE_USER=true
   - CODECOV_TOKEN="d1e39bea-f800-45de-8266-3e9b85e2594a"

sudo: required

services:
  - docker

addons:
  apt:
    update: true

install:
  - make bootstrap
  - sudo apt-get install --yes libudev-dev
  - if [ "$TRAVIS_BUILD_DIR" != "$GOPATH/src/github.com/openebs/node-disk-manager" ]; then
      mkdir -p $GOPATH/src/github.com/openebs/;
      mv $TRAVIS_BUILD_DIR $GOPATH/src/github.com/openebs;
      cd $GOPATH/src/github.com/openebs/node-disk-manager;
    fi
  - curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.9.4/bin/linux/amd64/kubectl
  - sudo chmod +x ./kubectl
  - sudo mv ./kubectl /usr/local/bin/
  - curl -Lo minikube https://storage.googleapis.com/minikube/releases/v0.25.0/minikube-linux-amd64
  - sudo chmod +x minikube
  - sudo mv minikube /usr/local/bin/

script:
  - make
  - make test
  - make integration-test

after_success:
  - if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then
      export REPO=openebs/node-disk-manager-$ARCH;
      docker login -u "$DNAME" -p "$DPASS";
      docker push $REPO:$TAG;
      docker tag $REPO:$TAG $REPO:ci;
      docker push $REPO:ci;
    fi
  - if [ -n "$TRAVIS_TAG" ]; then
      export REPO=openebs/node-disk-manager-$ARCH;
      docker login -u "$DNAME" -p "$DPASS";
      docker tag $REPO:$TAG $REPO:$TRAVIS_TAG;
      docker push $REPO:$TRAVIS_TAG;
      docker tag $REPO:$TRAVIS_TAG $REPO:latest;
      docker push $REPO:latest;
    fi
  - bash <(curl -s https://codecov.io/bash)
