# Create NDM operator deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-disk-operator
  namespace: openebs
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      name: node-disk-operator
  template:
    metadata:
      labels:
        name: node-disk-operator
    spec:
      serviceAccountName: openebs-maya-operator
      containers:
      - name: node-disk-operator
        image: openebs/node-disk-operator:ci
        ports:
        - containerPort: 8080
          name: liveness
        imagePullPolicy: IfNotPresent
        readinessProbe:
          exec:
            command:
            - stat
            - /tmp/operator-sdk-ready
          initialDelaySeconds: 4
          periodSeconds: 10
          failureThreshold: 1
        env:
        - name: WATCH_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        # the service account of this pod
        - name: SERVICE_ACCOUNT
          valueFrom:
            fieldRef:
              fieldPath: spec.serviceAccountName
        - name: OPERATOR_NAME
          value: "node-disk-operator"
        - name: CLEANUP_JOB_IMAGE
          value: "openebs/linux-utils:ci"
       # OPENEBS_IO_IMAGE_PULL_SECRETS environment variable is used to pass the image pull secrets
       # to the cleanup pod launched by NDM operator
       #- name: OPENEBS_IO_IMAGE_PULL_SECRETS
       #  value: ""
---
